nav {
    ul {
        list-style: none;

        li {
            display: inline-block;
            margin-right: 8px;
            border: 1px;
            background-color: yellow;
            padding: 16px;
        }

        li.active {
            background-color: lime;
        }

        li:hover {
            cursor: pointer;
        }
    }
}