nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 8px;
  border: 1px;
  background-color: yellow;
  padding: 16px;
}

nav ul li.active {
  background-color: lime;
}

nav ul li:hover {
  cursor: pointer;
}
/*# sourceMappingURL=Menu.css.map */