.short-product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  border-radius: 16px;
}

.short-product-info-logo {
  width: 150px;
}
/*# sourceMappingURL=ShortProductInfo.css.map */